@media (max-width: 1010px){

.lista{margin-bottom: 30px;}

.section3{justify-items: center;}

.section3 h2 {margin-top: 20px;}

h2, p{text-align: center;}

.textoh2p{text-align: center;}

.texto3{margin-bottom: 30px;}

.card-body{text-align: center;}

.card{margin-bottom: 10px;}

.formu {margin-bottom: 30px;
text-align: center;}

.form-check{text-align: start;}

.icones{text-align: center;}

.final {text-align: center;}

.copyright{margin-top: 20px;}

iframe{
width: 100%;
height: 100%;
max-width: 451px;
max-height: 309px;}



}




