*{box-sizing: border-box;}

.navbar-nav{
margin-left: 40px;
}

.nav-item{
margin-left: 10px;
}

.btn{background-color: #7749F8;
color: white;
border-color: white;
}

.w-100{height: 400px; 
background-size: cover;
}

.carousel-caption{
position: absolute;
top:0;
left:0;
right:0;
bottom:0;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
}

.list-group{width: 350px;
margin-top: 48px;
}

.texto{
margin-bottom: 0px;
}

.texto2{width: 451px;
margin-top: 16px;
margin-bottom: 48px;
}

.section2{margin-top: 80px;
}

.btn-outline-primary{border-color: #7749F8;
color: #7749F8;
background-color: white;
font-weight: 600;
}

.section3{background-color: rgba(196, 196, 196, 0.3);
padding: 70px;
}

.cards{margin-top: 100px;
}

.cards h2{margin-bottom: 48px;
}

.card{width: 350px;
}

select{margin-bottom: 24px;
}

form h3{margin-bottom: 32px;
}

#exampleCheck1{
    margin-bottom: 35px;
}

.form-check-input:checked{
    background-color: #7749F8;
    border-color: #7749F8;
}

form{width: 420px;
}

.formulario{margin-bottom: 100px;
}
  
span{font-size: 20px;
}

.contato{margin-top: 77px;
margin-bottom: 48px;
}

.icones{margin-top: 20px;
}

svg{margin-left: 5px;
}

.wpp, .phone{margin-top: 10px;
}

footer{background: rgba(196, 196, 196, 0.3);
margin-bottom: 0px;
}

.textofinal, .linksfinal, .midiafinal{margin-top: 48px;
}

.final p{width: 340px;
}

.linke{color: black;
}